{{ ansible_managed | comment }}
[Unit]
Description=hashicorp_vault — unseal Vault on boot
After=docker.service network-online.target
Wants=network-online.target
Documentation=https://developer.hashicorp.com/vault/docs/concepts/seal

[Service]
Type=oneshot
ExecStart={{ hashicorp_vault_autounseal_script_path }}
RemainAfterExit=yes
TimeoutStartSec=180
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vault-container-unseal

[Install]
WantedBy=multi-user.target
