[Journal]
Storage={{ baseline_journald_storage }}
Compress={{ 'yes' if baseline_journald_compress else 'no' }}
ForwardToConsole=no
MaxLevelConsole={{ baseline_journald_max_level_console }}
SystemMaxUse={{ baseline_journald_system_max_use }}
SystemKeepFree={{ baseline_journald_system_keep_free }}
SystemMaxFileSize={{ baseline_journald_system_max_file_size }}
MaxFileSec={{ baseline_journald_max_file_sec }}
MaxRetentionSec={{ baseline_logrotate_maxage_days }}day
