[Unit]
Description=Auto-unseal Vault after start / boot
After=network-online.target vault.service
Requires=vault.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/unseal-vault.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=unseal-vault
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
