[defaults]
# Tells Ansible where to find the action plugins in this repo
action_plugins = ./action_plugins

# Recommended: suppress Python bytecode in version control
# Alternatively: export PYTHONDONTWRITEBYTECODE=1
